* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

audio {
    width: 100px;
    position: fixed;
    top: 50px;
    right: 0;
}



.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    padding: 50px;
}

.colsFooter {
    width: 31%;
}

iframe {
    display: block;
    margin: auto;
}

.logo {
    width: 50%;
    display: block;
    margin: auto;
}

.colsFooterContacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.colsFooterContacto li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.colsFooterContacto h4 {
    margin-bottom: 30px;
}

.colsFooterContacto a {
    text-decoration: none;
}

@media screen and (max-width:768px) {
    iframe {
        width: 200px;
    }
}

@media screen and (max-width:500px) {
    .footer {
        flex-direction: column;
    }

    .colsFooter {
        width: 100%;
        margin-bottom: 50px;
    }

    iframe {
        width: 100%;
    }
}